.body{
    display: flex;
    flex-direction: column;
}


h1{
    text-align: center;
    font-size: 90px;
}
.cardBack{
    border: 5px solid black;
    border-radius: 18px;
    width: 130px;
    height: 200px;
}
.cardDisplay{
    display: flex;
    flex-direction: column; 
    border: 5px solid black; 
    border-radius: 18px;
    width: 130px;
    height: 200px;
}
.cardTitle{
    height: 17%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cardName{
    flex-shrink: 1;
    padding: 5px;
}
.cardCost{
    flex-shrink: 0;
    background-color: blueviolet;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
}


.cardImage{ 
    height: 42%;
    overflow: auto;
    user-drag: none;
}
.cardEffect{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 41%;
    justify-content: center;
}
.cardEffectText{
    overflow: auto;
    text-align: center;
}
.hand{
    display: flex;
}
.handSlot, .cardSlot{
    width: 140px; /* 130px wide card + 2 * 5px border */
    height: 210px; /* 200px tall card + 2 * 5px border */
    border-radius: 23px; /* 18px radius + 5px border */
    border: 4px dashed gray; 
    margin: 5px;
}
.handSlot{
    
}

.textExplainer{
    background-color: greenyellow;
    font-size: 20px;
    text-align: center;
    margin: 0 10px;
}


.playerHand{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    align-self: center;
    height: 300px;
    width: 1190px;
}

.opponentHand{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    align-self: center;
    height: 300px;
    width: 1440px;
}



.reputationTracker{
    height: 100px;
    min-width: 220px;
    text-align: center;
    align-self: center;
    overflow: visible;
    font-size: 35px;
    background-color: blue;
    margin: 15px;

}


.cardPlayArea{
    height: 240px;
    align-self: stretch;
    display: flex;
    justify-content: center;
}

.purchaseArea{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    align-self: center;
    height: 300px;
    width: 1000px;
}


.buttonHolder{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}


.refreshButton, .SkipPhase{
    font-size: 35px; 
    height: 100px;
    width: 220px;

}

.refreshButton{
    background-color: blue;
}

.SkipPhase{
    background-color: red;
    /*align-self: flex-end;
    align-self: center;*/
}


.playerStatusesDisplay, .opponentStatusesDisplay{
    height: 208px;
    width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 10px;
    

}


.statusShower{/*There HAS to be a better name but I truly cannot think of it. let me know if you think of one*/
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
}

.statusInformation{
    position: absolute;
    background-color: goldenrod;
    height: 80px;
    width: 160px;
    overflow: scroll;
}

.toast{
    position: absolute;
    background-color: goldenrod;
    overflow: scroll;
    font-size: 25px;
}

.backroundDim{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
}

