.body{
    display: flex;
    flex-direction: column;
}


h1{
    text-align: center;
    font-size: 90px;
}
.cardDisplay{
    display: flex;
    flex-direction: column; 
    border: 5px solid black; 
    border-radius: 18px;
    width: 130px;
    height: 200px;
}
.cardTitle{
    height: 17%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cardName{
    flex-shrink: 1;
    padding: 5px;
}
.cardCost{
    flex-shrink: 0;
    background-color: blueviolet;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
}


.cardImage{
    height: 42%;
    overflow: auto;
    user-drag: none;
}
.cardEffect{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 41%;
    justify-content: center;
}
.cardEffectText{
    overflow: auto;
    text-align: center;
    

}
.handSlot, .cardSlot{
    width: 130px;
    height: 200px;
    border-radius: 18px;
    border: 4px dashed gray; 
    margin: 5px;
}
.cardSlot:has(> .cardDisplay){
    border:0px
}
.handSlot{
    
}
.playerHand{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    align-self: center;
    height: 300px;
    width: 800px;
}


.cardPlayArea{
    height: 240px;
    align-self: stretch;
    display: flex;
    justify-content: center;
}

.purchesArea{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    align-self: center;
    height: 300px;
    width: 1000px;
}


