.body{
    display: flex;
    flex-direction: column;
}


h1{
    text-align: center;
    font-size: 90px;
}
.cardDisplay{
    display: flex;
    flex-direction: column; 
    border: 5px solid black; 
    border-radius: 18px;
    width: 130px;
    height: 200px;
}
.cardTitle{
    height: 17%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cardName{
    flex-shrink: 1;
    padding: 5px;
}
.cardCost{
    flex-shrink: 0;
    background-color: blueviolet;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
}


.cardImage{ 
    height: 42%;
    overflow: auto;
    user-drag: none;
}
.cardEffect{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 41%;
    justify-content: center;
}
.cardEffectText{
    overflow: auto;
    text-align: center;
    

}
.handSlot, .cardSlot{
    width: 130px;
    height: 200px;
    border-radius: 18px;
    border: 4px dashed gray; 
    margin: 5px;
}
.cardSlot:has(> .cardDisplay){
    border:0px
}
.handSlot{
    
}
.playerHand{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    align-self: center;
    height: 300px;
    width: 800px;
}

.reputationTracker{
    height: 100px;
    min-width: 220px;
    text-align: center;
    align-self: center;
    overflow: visible;
    font-size: 35px;
    background-color: blue;
    margin: 15px;

}


.cardPlayArea{
    height: 240px;
    align-self: stretch;
    display: flex;
    justify-content: center;
}

.purchesArea{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    align-self: center;
    height: 300px;
    width: 1000px;
}


.buttonHolder{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}


.refreshButton, .SkipPhase{
    font-size: 35px; 
    height: 100px;
    width: 220px;

}

.refreshButton{
    background-color: blue;
}

.SkipPhase{
    background-color: red;
    /*align-self: flex-end;
    align-self: center;*/
}


.movingCard0{
    animation: opponentPlayCard0 5s forwards;
}

@keyframes opponentPlayCard0 {
    100% {
        transform: translateY(200px) translateX(-150px);
        
    }

}

.movingCard1{
    animation: opponentPlayCard1 5s forwards;
}


@keyframes opponentPlayCard1 {
    100% {
        transform: translateY(200px) translateX(-300px);
        
    }

}

.movingCard2{
    animation: opponentPlayCard2 5s forwards;
}


@keyframes opponentPlayCard2 {
    100% {
        transform: translateY(200px) translateX(-450px);
        
    }

}

.movingCard3{
    animation: opponentPlayCard3 5s forwards;
}


@keyframes opponentPlayCard3 {
    100% {
        transform: translateY(200px) translateX(-600px);
        
    }

}

.movingCard4{
    animation: opponentPlayCard4 5s forwards;
}


@keyframes opponentPlayCard4 {
    100% {
        transform: translateY(200px) translateX(-750px);
        
    }

}

/* .opponentBuyCard{
    animation: opponentBuyCard 5s forwards;
}

@keyframes opponentBuyCard {
    100%{
        transform: translateY(-200px);
    }
} */

